.auth {
  width: 35%;
  margin: 0 auto;
  padding: 8rem 0;

  &-container {
    background-color: #16161a;
    border-radius: 0.5rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

    &__form {
      text-align: center;

      &-icon {
        position: absolute;
        content: "";
        top: 13%;
        right: 48%;
        z-index: 10;
        border-radius: 50%;
        background-color: #ff8e3c;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
      }
      &-title {
        font-size: 1.2rem;
        padding: 2rem 0 1rem 0;
        color: #fff;
      }
      &-items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        margin: 1rem auto;
        width: 95%;


        &__text {
          width: 40%;
          font-size: 1.2rem;
          font-weight: 500;
          border: none;
          border-bottom: 3px solid transparent;
          cursor: pointer;
          transition: all 0.4s ease-in-out;

          &.active-text {
            border-bottom: 3px solid #ff8e3c;
            transition: all 0.4s ease-in-out;
          }
        }
      }
      &-box {
        width: 95%;
        margin: 0.5rem auto;
        position: relative;



        &__inputs {
          width: 100%;
          padding: 0.6rem .6rem .6rem .5rem;
          border-radius: 0.5rem;
          outline: none;
          border: 2px solid transparent;
          transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
          margin: 1.2rem 0;

          &:focus {
            border: 2px solid #fff;
          }

          &::placeholder{
            text-align: right;
          }
        }

        &__btn {
          border: none;
          width: 100%;
          border-radius: 0.5rem;
          color: #252525;
          background-color: #f5a623;
          font-size: 1.1rem;
          font-weight: 500;
          margin: 1rem auto;
          padding: 0.6rem 0;
          transition: all 0.4s ease-in-out;

          &.btn-dis {
            opacity: 0.4;

            &:hover {
              color: #252525;
              background-color: #ff8e3c;
            }
          }

          &:hover {
            transition: all 0.4s ease-in-out;
            background-color: #fff;
            color: #252525;
          }
        }
      }
      &-footer {
        color: #fff;

        direction: rtl;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 95%;
        margin: 0 auto;
        padding: 1rem 0;

        span {
          display: flex;
          align-items: center;
          cursor: pointer;
        }
      }
    }
  }

  @media screen and (max-width: 992px) {
    width: 70%;
  }
  @media screen and (max-width: 768px) {
    width: 90%;
  }
  @media screen and (max-width: 768px) {
    width: 90%;
  }
}
